body{
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 50px auto;
}
h1{
    font-size: 40px;
}
button{
    font-size: x-large;
    font-weight: 700;
    padding: 10px 16px;
    cursor: pointer;
}